body{
	background-color: #E3E3E3;
	font-family: "futura", sans-serif;
	text-align: center;
}

h1 {
	text-align: center;
}
h2 {
	font-family: "futura", sans-serif;
	text-align: center;
}

#description {
	text-align: center;
	margin: 300px auto;
}

#parallaxContainer .layer1 {
	margin-top: 130px;
	height: 100%;
	text-align: center;
	background-image: url("../img/1520-entrance.jpg");
}

#parallaxContainer .layer2 {
	margin-top: 130px;
	background-image: url("../img/nas-hip-hop-is-dead.jpg");
	height: 100%;
	text-align: center;
	bottom: auto;
}

.wide {
	overflow: hidden;
	height: 20px;
	max-height: auto;
}